* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    background-color: antiquewhite;
}

h1 {
    color: red;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
}
p {
    color: blue;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: lightgrey;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}
button:hover {
    background-color: green;
    color: white;
}
